In [76]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
import requests
import os

In [77]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
import urllib.request
import time
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

Requirement already satisfied: selenium in /usr/local/lib/python3.6/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,729 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,162 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [885 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,358 kB]
Fetched 7,401 kB in 3s (2,236 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (87.0.4280.66-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [28]:
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver.get("https://finance.yahoo.com/quote/CL%3DF/history/")
time.sleep(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: use options instead of chrome_options
  """Entry point for launching an IPython kernel.

In [66]:
download_link = driver.find_element_by_partial_link_text('Download')
download_link.click()

In [67]:
daily = pd.read_csv('CL=F.csv')
daily = daily.drop("Adj Close", axis=1)
daily = daily.round(3)

In [75]:
daily.tail()

           Date   Open   High    Low  Close    Volume
301  2021-02-05  56.46  57.29  56.43  56.85  381404.0
302  2021-02-07    NaN    NaN    NaN    NaN       NaN
303  2021-02-08  57.06  58.14  57.00  57.97  399724.0
304  2021-02-09  58.11  58.62  57.27  58.36  399724.0
305  2021-02-10  58.45  58.87  58.08  58.76  257593.0

In [70]:
daily.tail(1)

           Date   Open   High    Low  Close    Volume
305  2021-02-10  58.45  58.87  58.08  58.76  257593.0

In [80]:
updated = pd.read_csv('updated_oilprice.csv')
updated.tail()

            Date   Open   High    Low  Close    Volume
6161  2021-02-04  55.96  56.58  55.30  56.23  381404.0
6162  2021-02-05  56.46  57.29  56.43  56.85  381404.0
6163  2021-02-07    NaN    NaN    NaN    NaN       NaN
6164  2021-02-08  57.06  58.14  57.00  57.97  399724.0
6165  2021-02-09  58.11  58.62  57.27  58.36  399724.0

In [81]:
updated = updated.append(daily.tail(1),ignore_index=True)

In [82]:
updated.tail()

            Date   Open   High    Low  Close    Volume
6162  2021-02-05  56.46  57.29  56.43  56.85  381404.0
6163  2021-02-07    NaN    NaN    NaN    NaN       NaN
6164  2021-02-08  57.06  58.14  57.00  57.97  399724.0
6165  2021-02-09  58.11  58.62  57.27  58.36  399724.0
6166  2021-02-10  58.45  58.87  58.08  58.76  257593.0

In [83]:
updated.to_csv('updated_oilprice.csv',index=False)