# Data Preprocessing

### Import relevant libraries

In [126]:
import pandas as pd
import datetime

### Import and build news data

In [127]:
news_data = pd.read_csv('BR_News.txt', names = ['Date', 'News'], index_col = 0) #Original raw data file

In [128]:
news_data['Polarity'] = [0 for i in range(len(news_data))] #Initialize polarities to zero

In [129]:
news_data.drop_duplicates(subset ="News", 
                     keep = False, inplace = True)

In [130]:
news_data.head()

           Date                                               News  Polarity
NaN        date                                               news         0
0.0  2011-04-02  Political parties should work for resolution o...         0
1.0  2011-04-05  China to invest in hydel, renewable energy pow...         0
2.0  2011-04-06  Govt mulling to empower eight public sector en...         0
3.0  2011-04-06  China offers financial, technical assistance f...         0

In [131]:
news_data.info()

news_data = news_data.iloc[1:]
news_data.head()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 57997 entries, nan to 58988.0
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      57997 non-null  object
 1   News      57997 non-null  object
 2   Polarity  57997 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.8+ MB

           Date                                               News  Polarity
0.0  2011-04-02  Political parties should work for resolution o...         0
1.0  2011-04-05  China to invest in hydel, renewable energy pow...         0
2.0  2011-04-06  Govt mulling to empower eight public sector en...         0
3.0  2011-04-06  China offers financial, technical assistance f...         0
4.0  2011-04-06  Shipping activity at Port Qasim - KARACHI: Shi...         0

In [132]:
news_data['Date'] = pd.to_datetime(news_data['Date']) #Convert to datetime
news_data['Date'] = news_data["Date"].dt.strftime("%d %m %Y") #Format date
news_data['News'].map(str) #Convert news to string

0.0        Political parties should work for resolution o...
1.0        China to invest in hydel, renewable energy pow...
2.0        Govt mulling to empower eight public sector en...
3.0        China offers financial, technical assistance f...
4.0        Shipping activity at Port Qasim - KARACHI: Shi...
                                 ...
58984.0    90pc criminals acquitted due to faulty investi...
58985.0    Regulatory bodies: AGP to begin audit decision...
58986.0    Northern South Asian region: Goethe-Institut h...
58987.0    Buzdar making efforts to woo opposition MPAs a...
58988.0    DS inspects KCR track - KARACHI: The newly app...
Name: News, Length: 57996, dtype: object

In [133]:
news_data.tail()

,Date,News,Polarity
58984.0,29 01 2021,90pc criminals acquitted due to faulty investi...,0
58985.0,29 01 2021,Regulatory bodies: AGP to begin audit decision...,0
58986.0,29 01 2021,Northern South Asian region: Goethe-Institut h...,0
58987.0,29 01 2021,Buzdar making efforts to woo opposition MPAs a...,0
58988.0,29 01 2021,DS inspects KCR track - KARACHI: The newly app...,0

In [134]:
news_data.drop_duplicates(subset = 'News', keep = False, inplace = True)

In [135]:
news_data.head()

           Date                                               News  Polarity
0.0  02 04 2011  Political parties should work for resolution o...         0
1.0  05 04 2011  China to invest in hydel, renewable energy pow...         0
2.0  06 04 2011  Govt mulling to empower eight public sector en...         0
3.0  06 04 2011  China offers financial, technical assistance f...         0
4.0  06 04 2011  Shipping activity at Port Qasim - KARACHI: Shi...         0

In [136]:
news_data.reset_index(drop = True, inplace = True)

In [137]:
news_data.head()

         Date                                               News  Polarity
0  02 04 2011  Political parties should work for resolution o...         0
1  05 04 2011  China to invest in hydel, renewable energy pow...         0
2  06 04 2011  Govt mulling to empower eight public sector en...         0
3  06 04 2011  China offers financial, technical assistance f...         0
4  06 04 2011  Shipping activity at Port Qasim - KARACHI: Shi...         0

### Import and stock prices as daily difference

In [138]:
diff = pd.read_csv('Companies diff\ABOT PA Equity.csv')

In [139]:
diff.describe()

              Open         High          Low        Close         Volume
count  5157.000000  5157.000000  5157.000000  5157.000000    5157.000000
mean      0.147057     0.149578     0.145137     0.147993       5.805895
std       8.392596     6.892363     7.040883     6.328886   62090.918356
min     -88.884400   -58.971300   -41.226500   -45.014800 -925733.000000
25%      -0.763300    -0.825200    -0.660600    -0.731900   -3408.000000
50%       0.000000     0.000000     0.000000     0.000000       0.000000
75%       0.854600     0.882200     0.811400     0.757100    3200.000000
max      83.756400    43.741300    52.988800    52.143600  918700.000000

In [140]:
diff['Date'] = pd.to_datetime(diff['Date']) #Convert date to datetime

In [141]:
diff.head()

   Open  High  Low  Close  Volume       Date
0   0.0   0.0  0.0    0.0     0.0 2001-01-03
1   0.0   0.0  0.0    0.0     0.0 2001-01-04
2   0.0   0.0  0.0    0.0     0.0 2001-01-05
3   0.0   0.0  0.0    0.0     0.0 2001-01-08
4   0.0   0.0  0.0    0.0     0.0 2001-01-09

In [161]:
diff.tail()

       Open  High    Low  Close   Volume       Date
5152   0.99  -1.0   0.00 -11.20    250.0 2020-10-02
5153  -6.00  -1.0 -33.00  -3.58  25250.0 2020-10-05
5154 -10.00  -9.0  23.00  -2.12 -22950.0 2020-10-06
5155  19.55  11.0   0.05  13.62  12700.0 2020-10-07
5156   6.45   9.0  16.05   6.78   6600.0 2020-10-08

### Make relevant functions to map polarities and take into account weekends

In [142]:
def pol(val):
    #print(val)
    if val >= 0:
        
        return 1
    
    else:
        
        return 0
    


# Year, month, day	
def check(x):
    d3 = datetime.datetime.strptime(x, '%d %m %Y')
    d2 = datetime.datetime.strptime(x, '%d %m %Y').weekday()
   # print(d3)
    ##print(d2)

    if (d2 == 5):
        d1 = d3 - datetime.timedelta(days = 1)
    elif (d2 == 6):
        d1 = d3 - datetime.timedelta(days = 2)
    else:
        d1 = d3
    #print(d1)    
    return d1


check('08 02 2009')

datetime.datetime(2009, 2, 6, 0, 0)

In [143]:
news_data.head()

         Date                                               News  Polarity
0  02 04 2011  Political parties should work for resolution o...         0
1  05 04 2011  China to invest in hydel, renewable energy pow...         0
2  06 04 2011  Govt mulling to empower eight public sector en...         0
3  06 04 2011  China offers financial, technical assistance f...         0
4  06 04 2011  Shipping activity at Port Qasim - KARACHI: Shi...         0

In [147]:
x = len(news_data)
print(x)

57996

In [160]:
print(len(diff))

5157

### Label data with polarity

In [163]:
for i in range(5157):
    #print(i)
    #print(news_data['Date'][i])
    date = check(news_data['Date'][i])
    #print(date)
    index = diff.index[diff['Date'] == date]
    #print(type(index))
    #print(index)
    #print(diff['Close'][index])
    polarity = pol(float(diff['Close'][index]))
    #print(polarity)
    news_data['Polarity'][i] = polarity

<ipython-input-163-a18f4eedbb39>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_data['Polarity'][i] = polarity

In [164]:
news_data.describe()

           Polarity
count  57996.000000
mean       0.488465
std        0.499871
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

### Save labelled data

In [ ]:
news_data.to_csv(path_or_buf = 'C:/Users/CZ/Kaavish/BR_News' + '.csv', index = False) #Save dataframe as CSV