# Data Preprocessing

### Import relevant libraries

In [43]:
import pandas as pd
import datetime

### Import and build news data

In [44]:
news_data = pd.read_csv('Dawn_News.txt', names = ['Date', 'News'], index_col = 0) #Original raw data file

In [45]:
news_data['Polarity'] = [0 for i in range(len(news_data))] #Initialize polarities to zero

In [46]:
news_data.drop_duplicates(subset ="News", 
                     keep = False, inplace = True)

In [47]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23006 entries, 0 to 28595
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      23006 non-null  object
 1   News      23006 non-null  object
 2   Polarity  23006 non-null  int64
dtypes: int64(1), object(2)
memory usage: 718.9+ KB

In [48]:
news_data['Date'] = pd.to_datetime(news_data['Date']) #Convert to datetime
news_data['Date'] = news_data["Date"].dt.strftime("%d %m %Y") #Format date
news_data['News'].map(str) #Convert news to string

0             Judgment on judges` extension case suspended
1             Gilani hints at giving subsidy on oil prices
2           Agencies averse to aerial survey by foreigners
3        SC gives PPP leaders time to file reply in con...
4          Quake measuring 5.2 rattles Islamabad, Mansehra
                               ...
28590    Tabuk governor arrives in Dalbandin to hunt ho...
28591    Broadsheet commission to probe other cases as ...
28593    Opposition slams move to bring Senate polls bi...
28594    SC issues notice to NAB on Zardari’s pleas for...
28595    Japan to provide $4.57m grant to help procure ...
Name: News, Length: 23006, dtype: object

In [49]:
news_data.tail()

             Date                                               News  Polarity
28590  28 01 2021  Tabuk governor arrives in Dalbandin to hunt ho...         0
28591  28 01 2021  Broadsheet commission to probe other cases as ...         0
28593  28 01 2021  Opposition slams move to bring Senate polls bi...         0
28594  28 01 2021  SC issues notice to NAB on Zardari’s pleas for...         0
28595  28 01 2021  Japan to provide $4.57m grant to help procure ...         0

### Import and stock prices as daily difference

In [50]:
diff = pd.read_csv('Companies diff\ABOT PA Equity.csv')

In [51]:
diff.describe()

              Open         High          Low        Close         Volume
count  5157.000000  5157.000000  5157.000000  5157.000000    5157.000000
mean      0.147057     0.149578     0.145137     0.147993       5.805895
std       8.392596     6.892363     7.040883     6.328886   62090.918356
min     -88.884400   -58.971300   -41.226500   -45.014800 -925733.000000
25%      -0.763300    -0.825200    -0.660600    -0.731900   -3408.000000
50%       0.000000     0.000000     0.000000     0.000000       0.000000
75%       0.854600     0.882200     0.811400     0.757100    3200.000000
max      83.756400    43.741300    52.988800    52.143600  918700.000000

In [52]:
diff['Date'] = pd.to_datetime(diff['Date']) #Convert date to datetime

In [53]:
diff.head()

   Open  High  Low  Close  Volume       Date
0   0.0   0.0  0.0    0.0     0.0 2001-01-03
1   0.0   0.0  0.0    0.0     0.0 2001-01-04
2   0.0   0.0  0.0    0.0     0.0 2001-01-05
3   0.0   0.0  0.0    0.0     0.0 2001-01-08
4   0.0   0.0  0.0    0.0     0.0 2001-01-09

### Make relevant functions to map polarities and take into account weekends

In [54]:
def pol(val):
    #print(val)
    if val >= 0:
        
        return 1
    
    else:
        
        return 0
    


# Year, month, day	
def check(x):
    d3 = datetime.datetime.strptime(x, '%d %m %Y')
    d2 = datetime.datetime.strptime(x, '%d %m %Y').weekday()
   # print(d3)
    ##print(d2)

    if (d2 == 5):
        d1 = d3 - datetime.timedelta(days = 1)
    elif (d2 == 6):
        d1 = d3 - datetime.timedelta(days = 2)
    else:
        d1 = d3
    #print(d1)    
    return d1


check('08 02 2009')

datetime.datetime(2009, 2, 6, 0, 0)

### Label data with polarity

In [55]:
for i in range(28000):
    #print(i)
    #print(news_data['Date'][i])
    date = check(news_data['Date'][i])
    #print(date)
    index = diff.index[diff['Date'] == date]
    #print(index)
    #print(int(diff['Close'][index]))
    polarity = pol(float(diff['Close'][index]))
    news_data['Polarity'][i] = polarity

C:\Users\CZ\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

KeyError: 24

In [ ]:
news_data.describe()

### Save labelled data

In [ ]:
news_data.to_csv(path_or_buf = 'C:/Users/CZ/Kaavish/BR_News' + '.csv', index = False) #Save dataframe as CSV