In [1]:
import numpy
import talib
import pandas as pd

### Testing Talib

In [2]:
close = numpy.random.random(100) * 100
output = talib.SMA(close, timeperiod = 21)
output

array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
       45.2658003 , 45.80763824, 44.84613798, 43.6347574 , 42.30259081,
       44.05844888, 46.013191  , 47.78684817, 48.73018198, 48.6364594 ,
       49.2066472 , 46.54992784, 43.13338741, 42.25591573, 41.85426238,
       42.24069671, 41.29445146, 38.48900945, 39.43060997, 40.82999864,
       41.70319095, 40.77453496, 41.24893812, 41.03930215, 38.0248718 ,
       38.94542494, 39.9661118 , 40.45024888, 42.29663968, 41.3320432 ,
       42.51987766, 40.20127436, 39.27395559, 40.20180771, 39.52638607,
       36.96957367, 38.22984823, 40.80400204, 44.4775134 , 47.14653371,
       47.30028344, 46.97402579, 48.90130189, 51.04617953, 50.00049144,
       51.7044455 , 53.05575228, 51.96603038, 50.51581885, 49.00811114,
       51.36449461, 53.62705172, 57.22095361, 57.48512686, 59.63264259,
       61.02915702, 62.48639418, 60.09296568, 60.39508073, 55.74395565,
       52.18936537, 53.94415029, 57.57265088, 55.57679265, 56.35414193,
       59.13656477, 59.6797568 , 60.2367547 , 59.11301229, 60.72333716,
       60.85578021, 62.63850028, 61.4130712 , 60.01067961, 61.34087948,
       61.50164668, 60.88153042, 62.59926151, 64.83264903, 63.27098597])

### Historic Data

In [3]:
abl = pd.read_csv('ABL PA Equity.csv')
abl.tail()

            Date   Open   High    Low  Close   Volume
3947  2020-10-02  87.01  87.50  86.00  86.00   8000.0
3948  2020-10-05  86.99  92.44  81.04  83.83  63500.0
3949  2020-10-06  83.11  85.47  83.00  83.00  50000.0
3950  2020-10-07  82.60  84.35  82.50  82.94  37500.0
3951  2020-10-08  82.91  89.16  82.36  86.73  79000.0

### Simple Moving Average

In [4]:
close = abl['Close']
output = talib.SMA(close, timeperiod=21)
abl['21 SMA'] = output 
abl.tail()

            Date   Open   High    Low  Close   Volume     21 SMA
3947  2020-10-02  87.01  87.50  86.00  86.00   8000.0  85.563333
3948  2020-10-05  86.99  92.44  81.04  83.83  63500.0  85.470476
3949  2020-10-06  83.11  85.47  83.00  83.00  50000.0  85.332381
3950  2020-10-07  82.60  84.35  82.50  82.94  37500.0  85.239048
3951  2020-10-08  82.91  89.16  82.36  86.73  79000.0  85.273810

In [5]:
close = abl['Close']
output = talib.SMA(close, timeperiod=50)
abl['50 SMA'] = output 
abl.tail()

            Date   Open   High    Low  Close   Volume     21 SMA   50 SMA
3947  2020-10-02  87.01  87.50  86.00  86.00   8000.0  85.563333  85.3754
3948  2020-10-05  86.99  92.44  81.04  83.83  63500.0  85.470476  85.4612
3949  2020-10-06  83.11  85.47  83.00  83.00  50000.0  85.332381  85.4386
3950  2020-10-07  82.60  84.35  82.50  82.94  37500.0  85.239048  85.4294
3951  2020-10-08  82.91  89.16  82.36  86.73  79000.0  85.273810  85.5034

In [6]:
close = abl['Close']
output = talib.SMA(close, timeperiod=100)
abl['100 SMA'] = output 
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537

In [7]:
close = abl['Close']
output = talib.SMA(close, timeperiod=200)
abl['200 SMA'] = output 
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760

### RSI

In [8]:
real = talib.RSI(close, timeperiod=14)
abl['14 RSI'] = real 
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382

### Bollinger Bands

In [9]:
upperband, middleband, lowerband = talib.BBANDS(close, timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)
abl['Upper BBand'] = upperband
abl['Middle BBand'] = middleband
abl['Lower BBand'] = lowerband
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI,Upper BBand,Middle BBand,Lower BBand
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246,87.654279,85.5525,83.450721
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217,87.672483,85.4490,83.225517
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486,87.813068,85.3540,82.894932
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909,87.853432,85.2010,82.548568
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382,87.961504,85.2420,82.522496

### MACD

In [10]:
macd, macdsignal, macdhist = talib.MACD(close, fastperiod=12, slowperiod=26, signalperiod=9)
trend = []
for i in range(len(macdhist)):
    if (i <= 32):
        trend.append('NaN')
    else:
        if (macdhist[i] > 0):
            trend.append('Bullish')
        else:
            trend.append('Bearish')
        
abl['MACD'] = trend
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI,Upper BBand,Middle BBand,Lower BBand,MACD
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246,87.654279,85.5525,83.450721,Bullish
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217,87.672483,85.4490,83.225517,Bearish
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486,87.813068,85.3540,82.894932,Bearish
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909,87.853432,85.2010,82.548568,Bearish
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382,87.961504,85.2420,82.522496,Bearish

### 52 Week High

In [11]:
high = []
for i in range(len(abl['Close'])):
    if (i >=260):
        temp = abl['Close'][i-260:i]
        high.append(max(temp))
    else:
        high.append('NaN')

abl['52-week high'] = high
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI,Upper BBand,Middle BBand,Lower BBand,MACD,52-week high
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246,87.654279,85.5525,83.450721,Bullish,99.6034
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217,87.672483,85.4490,83.225517,Bearish,99.6034
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486,87.813068,85.3540,82.894932,Bearish,99.6034
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909,87.853432,85.2010,82.548568,Bearish,99.6034
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382,87.961504,85.2420,82.522496,Bearish,99.6034

### 52 Week Low

In [12]:
low = []
for i in range(len(abl['Close'])):
    if (i >=260):
        temp = abl['Close'][i-260:i]
        low.append(min(temp))
    else:
        low.append('NaN')

abl['52-week low'] = low
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI,Upper BBand,Middle BBand,Lower BBand,MACD,52-week high,52-week low
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246,87.654279,85.5525,83.450721,Bullish,99.6034,65.1512
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217,87.672483,85.4490,83.225517,Bearish,99.6034,65.1512
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486,87.813068,85.3540,82.894932,Bearish,99.6034,65.1512
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909,87.853432,85.2010,82.548568,Bearish,99.6034,65.1512
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382,87.961504,85.2420,82.522496,Bearish,99.6034,65.1512

### Average Volume

In [13]:
avg = []
for i in range(len(abl['Volume'])):
    if (i >=21):
        temp = abl['Volume'][i-21:i]
        avg.append(sum(temp)/len(temp))
    else:
        avg.append('NaN')

abl['21-avg volume'] = avg
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,14 RSI,Upper BBand,Middle BBand,Lower BBand,MACD,52-week high,52-week low,21-avg volume
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,52.221246,87.654279,85.5525,83.450721,Bullish,99.6034,65.1512,45500
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,44.791217,87.672483,85.4490,83.225517,Bearish,99.6034,65.1512,44119
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,42.311486,87.813068,85.3540,82.894932,Bearish,99.6034,65.1512,46357.1
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,42.129909,87.853432,85.2010,82.548568,Bearish,99.6034,65.1512,48166.7
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,55.206382,87.961504,85.2420,82.522496,Bearish,99.6034,65.1512,39928.6

### Resistance

In [22]:
close = abl['Close']
high = abl['High']
low = abl['Low']
pivot = (high+close+low)/3
pivot
R1 = (2*pivot) - low
R2 = pivot + (high - low)
R3 = high + 2*(pivot - low)
abl['First Resistance'] = R1
abl['Second Resistance'] = R2
abl['Third Resistance'] = R3
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,...,MACD,52-week high,52-week low,21-avg volume,First Resistance,Second Resistance,Third Resistance,First Support,Second Support,Third Support
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,...,Bullish,99.6034,65.1512,45500,87.000000,88.000000,88.500000,85.500000,85.000000,84.000000
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,...,Bearish,99.6034,65.1512,44119,90.500000,97.170000,101.900000,79.100000,74.370000,67.700000
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,...,Bearish,99.6034,65.1512,46357.1,84.646667,86.293333,87.116667,82.176667,81.353333,79.706667
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,...,Bearish,99.6034,65.1512,48166.7,84.026667,85.113333,85.876667,82.176667,81.413333,80.326667
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,...,Bearish,99.6034,65.1512,39928.6,89.806667,92.883333,96.606667,83.006667,79.283333,76.206667

### Support

In [23]:
S1 = (2*pivot) - high
S2 = pivot - (high - low)
S3 = low - 2*(high - pivot)
abl['First Support'] = S1
abl['Second Support'] = S2
abl['Third Support'] = S3
abl.tail()

,Date,Open,High,Low,Close,Volume,21 SMA,50 SMA,100 SMA,200 SMA,...,MACD,52-week high,52-week low,21-avg volume,First Resistance,Second Resistance,Third Resistance,First Support,Second Support,Third Support
3947,2020-10-02,87.01,87.50,86.00,86.00,8000.0,85.563333,85.3754,79.9748,82.101479,...,Bullish,99.6034,65.1512,45500,87.000000,88.000000,88.500000,85.500000,85.000000,84.000000
3948,2020-10-05,86.99,92.44,81.04,83.83,63500.0,85.470476,85.4612,80.0941,82.045014,...,Bearish,99.6034,65.1512,44119,90.500000,97.170000,101.900000,79.100000,74.370000,67.700000
3949,2020-10-06,83.11,85.47,83.00,83.00,50000.0,85.332381,85.4386,80.2031,82.005325,...,Bearish,99.6034,65.1512,46357.1,84.646667,86.293333,87.116667,82.176667,81.353333,79.706667
3950,2020-10-07,82.60,84.35,82.50,82.94,37500.0,85.239048,85.4294,80.3075,81.958773,...,Bearish,99.6034,65.1512,48166.7,84.026667,85.113333,85.876667,82.176667,81.413333,80.326667
3951,2020-10-08,82.91,89.16,82.36,86.73,79000.0,85.273810,85.5034,80.4537,81.916760,...,Bearish,99.6034,65.1512,39928.6,89.806667,92.883333,96.606667,83.006667,79.283333,76.206667