In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
KSE100 = pd.read_csv('Input/KSE100.csv')

In [3]:
f = open("closing11-12Oct.lis", "r")

In [4]:
import csv
with open('12Oct.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for line in f:
        i = 0
        Date = ''
        Ticker = ''
        x=''
        y=''
        Open = ''
        High = ''
        Low = ''
        Close = ''
        Volume = ''
        while line[i]!='|':
            Date+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            Ticker+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            x+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            y+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            Open+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            High+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            Low+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            Close+=line[i]
            i+=1
        i+=1
    
        while line[i]!='|':
            Volume+=line[i]
            i+=1
        i+=1
    
        writer.writerow([Date, Ticker, x, y, Open, High, Low, Close, Volume])

In [5]:
df = pd.read_csv('12Oct.csv', 
                  names=["Date", "Ticker", "x", "y","Open", "High","Low","Close","Volume"]
                  ,index_col=False)
df = df.drop(['x', 'y'], axis = 1)
df.head()

        Date Ticker   Open   High   Low  Close  Volume
0  12OCT2020   HGFA   9.01   9.01  8.83   8.94    5500
1  12OCT2020   HIFA   3.27   3.45  3.27   3.38    1500
2  12OCT2020  SINDM   9.00   9.20  9.00   9.00   54500
3  12OCT2020   TSMF   3.75   3.75  3.75   3.75    1000
4  12OCT2020    BRR  10.45  10.45  9.90   9.92   25500

In [6]:
filtered = KSE100['Ticker'].tolist() #Filtered companies stored in a list

tickers = df['Ticker'].tolist()
names = []
for i in range(len(df)-1):
    name = str(tickers[i]) + " PA Equity"
    
    if name in filtered: #Extracts only shortlisted companies
        names.append(name)
        df['Open'] = pd.to_numeric(df['Open']) #Change datatype of Open (Initially object type)
        df['High'] = pd.to_numeric(df['High']) #Change datatype of High (Initially object type)
        df['Low'] = pd.to_numeric(df['Low']) #Change datatype of Low (Initially object type)
        df['Close'] = pd.to_numeric(df['Close']) #Change datatype of Close (Initially object type)
        df['Volume'] = pd.to_numeric(df['Volume']) #Change datatype of Volume (Initially object type)
        df['Date'] = pd.to_datetime(df['Date']) #Change data type to datetime (Iitially object type)
        #df = df.drop(['Ticker'], axis = 1)
        df.iloc[i:i+1].to_csv(path_or_buf = 'Input/' + name + '_temp.csv', encoding='utf-8',  sep = ',', index = False) #Save dataframe as CSV

In [7]:
for i in range(len(names)):
    rows=[]
    name = 'Input/' + names[i] + '.csv'
    temp_file = 'Input/' + names[i] + '_temp.csv'
    with open(temp_file, 'r') as file:
        reader = csv.reader(file)
        for row in reader:
            rows.append(row)
    
    with open(name, 'a') as file:
        writer = csv.writer(file)
        writer.writerow(rows[-1])