In [56]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
import requests
import os

In [57]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
import urllib.request
import time
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

Requirement already satisfied: selenium in /usr/local/lib/python3.6/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (87.0.4280.66-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 19 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver.get("https://finance.yahoo.com/quote/USDPKR%3DX/history/")
time.sleep(7)

In [59]:
download_link = driver.find_element_by_partial_link_text('Download')
download_link.click()

In [60]:
recent = pd.read_csv('USDPKR=X.csv')
recent = recent.drop("Adj Close", axis=1)
recent = recent.drop("Volume", axis=1)
recent = recent.round(3)
recent.head()

         Date     Open     High      Low    Close
0  2020-02-12  152.853  152.959  152.853  154.000
1  2020-02-13  153.516  154.000  152.910  152.959
2  2020-02-14  153.191  153.800  152.855  153.750
3  2020-02-17  152.844  154.000  152.844  153.800
4  2020-02-18  153.047  154.000  152.892  154.000

In [61]:
recent.tail()

           Date     Open    High      Low    Close
258  2021-02-08  158.151  159.80  158.151  159.800
259  2021-02-09  158.544  159.60  158.544  159.550
260  2021-02-10  159.500  159.50  158.584  159.550
261  2021-02-11  158.873  159.10  157.739  159.100
262  2021-02-12  159.000  159.16  158.531  158.531

In [62]:
updated = pd.read_csv('Output/updated_forex.csv')
updated.head()

       Date  Open   High   Low  Close
0  2-Jan-01  58.4  58.65  58.4  58.65
1  3-Jan-01  57.8  58.15  57.8  58.15
2  4-Jan-01  58.7  58.90  58.7  58.90
3  5-Jan-01  58.9  59.10  58.9  59.10
4  8-Jan-01  58.9  59.15  58.9  59.15

In [63]:
updated.tail()

            Date     Open    High      Low    Close
5784  2021-02-08  158.151  159.80  158.151  159.800
5785  2021-02-09  158.544  159.60  158.544  159.550
5786  2021-02-10  159.500  159.50  158.584  159.550
5787  2021-02-11  158.873  159.10  157.739  159.100
5788  2021-02-12  159.000  159.16  158.531  158.531

In [64]:
updated = updated.append(recent.tail(1),ignore_index=True)

            Date     Open    High      Low    Close
0       2-Jan-01   58.400   58.65   58.400   58.650
1       3-Jan-01   57.800   58.15   57.800   58.150
2       4-Jan-01   58.700   58.90   58.700   58.900
3       5-Jan-01   58.900   59.10   58.900   59.100
4       8-Jan-01   58.900   59.15   58.900   59.150
...          ...      ...     ...      ...      ...
5785  2021-02-09  158.544  159.60  158.544  159.550
5786  2021-02-10  159.500  159.50  158.584  159.550
5787  2021-02-11  158.873  159.10  157.739  159.100
5788  2021-02-12  159.000  159.16  158.531  158.531
5789  2021-02-12  159.000  159.16  158.531  158.531

[5790 rows x 5 columns]

In [55]:
updated.to_csv('Output/updated_forex.csv',index=False)